@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #FCFBFA;
  color:#2a3347;

}
.center{
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 
}